<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="layout"> 
<head>
    <title>Bus Information</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
       	<div class ="row">
       		<div class ="column is-two-fifths">
       			<p>The first closest bus stop to you is: <span th:text="${busInfo.stopOne.stopName}"></span> <span th:text="${busInfo.stopOne.bearing}"></span>
                <p>The next five buses to arrive there will be:</p>
                    
                </p>
       		</div>
            <div class ="column is-one-fifth"><p></p></div>
       		<div class="column is-two-fifths">
       			<p>The second closest bus stop to you is: <span th:text="${busInfo.stopTwo.stopName}"></span> <span th:text="${busInfo.stopTwo.bearing}"></span>.
                <p>The next five buses to arrive there will be:</p>
                </p>
       		</div>
        </div>
    </div>
</div>
</body>
</html>