<!DOCTYPE html>
<html>

<head>
	<title>Bus Information</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/info.css}"
          href="../../css/info.css" />

</head>
<body>

<h2>Bus Information</h2>
<div>
	<p>You entered postcode: <span th:text="${busInfo.postcode}"></span></p>

	<div class="row">
	  <div class="column"> 
		<h2 align="center"><span th:text="${busInfo.stopOne.stopName}"></span> Bus Stop - <span th:text="${busInfo.stopOne.bearing}"></span> </h2>
			<div class="row">
				<table style="width:100%">
					<tr>
						<th <b>Line #</b></th>
						<th <b>Destination</b></th>
						<th <b>Arrival Time</b></th>
						<th <b>Time To Arrival</b></th>
					</tr>				
					<th:block th:each="bus : ${busInfo.stopOneBusses}">
						<tr>
							<td th:text="${bus.line_name}"></td>
							<td th:text="${bus.direction}"></td>
							<td th:text="${bus.best_departure_estimate}"></td>
							<td th:text="${bus.tta}"></td>
						</tr>
					</th:block>
				</table>
			</div>
	  </div>
	  <div class="column">
		<h2 align="center"><span th:text="${busInfo.stopTwo.stopName}"></span> Bus Stop - <span th:text="${busInfo.stopTwo.bearing}"></span></h2>
			<div class="row">
				<table style="width:100%">
					<tr>
						<th <b>Line #</b></th>
						<th <b>Destination</b></th>
						<th <b>Arrival Time</b></th>
						<th <b>Time To Arrival</b></th>
					</tr>				
					<th:block th:each="bus : ${busInfo.stopTwoBusses}">
						<tr>
							<td th:text="${bus.line_name}"></td>
							<td th:text="${bus.direction}"></td>
							<td th:text="${bus.best_departure_estimate}"></td>
							<td th:text="${bus.tta}"></td>
						</tr>
					</th:block>
				</table>
			</div>
	  </div>
	</div>
	
	
	</div>
</div>

</body>
</html>
